# http -> htpps
# <IfModule mod_headers.c>
#     Header set Content-Security-Policy "upgrade-insecure-requests"
# </IfModule>


# Security: Protect Sensitive Files
<FilesMatch "\.(env|sql|ini|log)$">
    # Modern Apache 2.4 syntax
    Require all denied
</FilesMatch>

# Also block access to the .htaccess file itself
<Files .htaccess>
    Require all denied
</Files>


# URL Rewriting (Clean URLs)

RewriteEngine On

# Ensure images, CSS, and JS files load normally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite /post/my-title to post.php?slug=my-title
RewriteRule ^post/([a-zA-Z0-9-]+)/?$ post.php?slug=$1 [L,QSA]

# Route /admin/... to admin.php
RewriteRule ^admin(/.*)?$ admin.php [QSA,L]



#
