* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

/* GLOBAL LAYOUT */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

header, footer {
    border-bottom: 1px solid #ddd;
}

footer {
    border-top: 1px solid #ddd;
}

/* HEADER NAV */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav a {
    margin-right: 1rem;
    text-decoration: none;
}

/* MAIN CONTENT */
.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
h1.title {
    grid-column: 1 / -1;
}
.category-post-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category-post-list .category-post {
    border-bottom: 2px solid #333;
    border-radius: 20px;
    padding-left: 1rem;
}

.category-post-list .category-post a{
    padding-bottom: 1rem;
    text-decoration: none;
    color: #222; 
}

.category-post-list .category-post:hover{
    background-color: #ddd;
}

/* BLOG LIST */
.post-list article {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}


/* SIDEBAR */
.sidebar {
    border-left: 1px solid #e5e5e5;
    padding-left: 1rem;
}

/* form normalization */
input, textarea, button, select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}


/* temp nav design */
nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    min-width: 160px;
    z-index: 100;
}

.dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #dfdfdf;
}



/* RESPONSIVE */
@media (min-width: 768px) {
    .main-layout {
        grid-template-columns: 3fr 1fr;
    }
}