:root {
    --primary: #1f3a5f;
    --accent: #2aa198;
    --text: #222;
    --muted: #666;
    --border: #e5e5e5;
    --bg-light: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, sans-serif;
    background: #f6f6f6;
}

/* HEADER */

.admin-header {
    background: var(--primary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: 500;
}

/* MAIN CONTENT */
.admin-content {
    max-width: 1000px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
}

.admin-section-header h1 {
    margin-bottom: 0.25rem;
}

.admin-section-header p {
    font-size: 0.9rem;
    color: var(--muted);
}


/* FOOTER */
.admin-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 2rem;
}

/* TABLES / LISTS */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem auto;
}

td, th {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

/* form normalization */
button {
    cursor: pointer;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem; 
    margin: .5rem;

}

button:hover {
    background: var(--accent);
}

input, textarea, select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
}

input, textarea {
    border: 1px solid var(--border);
    border-radius: 4px;
}
ul {
    list-style-type: none;
}




/* alert */
.alert-error {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}