* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, sans-serif;
    background: #f6f6f6;
}

.admin-header {
    background: #0a0a24;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}

.admin-content {
    max-width: 1000px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
}

.admin-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 2rem;
}

/* TABLES / LISTS */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem auto;
}

td, th {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

/* form normalization */
input, textarea, button, select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}



/* alert */
.alert-error {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}